@import "./_tokens.scss";

/********  SPACE  ******/
@function getSize($size) {
	$spaceTokens: map-get($tokens, "space");
	@return map-get($spaceTokens, $size);
}

/**  padding  **/
@mixin padding($size) {
	padding: getsize($size);
}
@mixin padding-top($size) {
	padding-top: getsize($size);
}
@mixin padding-vertical($size) {
	padding-top: getsize($size);
	padding-bottom: getsize($size);
}

/**  margin  **/
@mixin margin($size) {
	margin: getsize($size);
}

/********  COLOR  ******/
@function getColor($color, $size: "base") {
	$colorTokens: map-get($tokens, "color");
	$selected: map-get($colorTokens, $color);
	@return map-get($selected, $size);
}

/**  color  **/
@mixin color($color, $size: "base") {
	color: getcolor($color, $size);
}

/**  background-color  **/
@mixin background-color($color, $size: "base") {
	background-color: getcolor($color, $size);
}

/*****  TYPOGRAPHY  ****/
$textSizeTokens: map-get($tokens, "textSize");
$textWeightTokens: map-get($tokens, "textWeight");

@mixin font($size) {
	font-size: map-get($textSizeTokens, $size);
	font-weight: map-get($textWeightTokens, $size);
}
