$feature-flags: (
	grid-columns-16: true,
);

@import "@carbon/grid/scss/grid";
@import "./typograpy.scss";

html {
	font-size: 100%;
}

main {
	padding-top: 140px;
}

@media screen and (max-width: 671px) {
	main {
		padding-top: 64px;
	}
}

body {
	margin: 0;
	padding: 0;
	overflow: scroll;
	background-color: white;
	font-family: "Munken Sans", sans-serif;
	font-weight: 400;
	line-height: 1.75;
}

// Disabling of Color in prefilled Texts (e.g. Chrome, Firefox)

input {
	filter: none;
}
