@import "./_mixins.scss";

.site-wrapper {
	max-width: 1120px;
	margin: 0 auto;
	padding: 0;
}
<<<<<<< HEAD

// .heading-01 {
// 	@include font("xxxl");
// }
=======
>>>>>>> 5bde3e8bc84052be1e34200ddcbe61c7dbb0e7a8
