@font-face {
	font-family: "Munken Sans";
	src: font-url("./MunkenSansWeb-Bold.woff") format("woff"),
		font-url("./MunkenSansWeb-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: "Munken Sans";
	src: font-url("./MunkenSansWeb-Medium.woff") format("woff"),
		font-url("./MunkenSansWeb-Medium.woff2") format("woff2");
	font-weight: medium;
	font-style: medium;
}

@font-face {
	font-family: "Munken Sans";
	src: font-url("./MunkenSansWeb-Regular.woff") format("woff"),
		font-url("./MunkenSansWeb-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
